/***************************
GENERAL
****************************/

body {
    font-family: 'Amaranth', sans-serif;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/***************************
HEADING
****************************/

header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}    

#logo {
  text-align: center;
  margin: 0;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  
 font-size: 0.75em;
 margin: -5px 0 0;
 font-weight: normal;
}

/***************************
NAVIGATION
****************************/

nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
  position: relative;
}

nav ul li {
  display: inline-block;
}

nav a {
  padding: 15px 10px;
}

/*** Drop Down ***/

nav ul li a,visited {
/*    color: #ccc;*/
    display: block;
    text-decoration: none;
}

nav ul li:hover ul{
    display: block;
}

nav ul ul{
    display: none;
    position: absolute;
    z-index: 2;
    background-color: #2D2D2A;
/*
    min-width: 439px;*/
    margin: -3px 0 0 -4px;
    padding: 2%;
    border-bottom: 6px solid #2ad0b8; 
}

nav ul ul li{
    display: block;
    text-align: left;
}

nav ul ul li a,visited{
    color: #ccc;
}

nav ul ul li a:hover{
    color: #2ad0b8;
}


/***************************
FOOTER
****************************/


footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}


/***************************
PAGE: HOME
****************************/

img {
    margin: 0;
    padding: 0;
}

#blog p {
    font-size: 0.825em;
}

.portfolio1, .about1, .store1 {
    display: none;
}

 .primary {
    width: 50%;
    float:left;
  }

.full {
    width: 100%;
    float: leftl;
}

#indexwrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
}

#instafeed {
  max-width: 1024px;
}

#title2 {
  float: left;
  display: block;
  padding: 5px;
}


/***************************
PAGE: PORTFOLIO
****************************/



#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
/*
  background-color: #f5f5f5;
  color: #2D2D2A;
*/
}

#gallery li img {
  border-radius: 100%;
  border: 7px solid #2D2D2A;
}

#gallery li img:hover {
    border: 7px solid #2ad0b8;
}
    

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 1em;
  color: #2D2D2A; 
  text-align: center;
}


/***************************
Element: gallery
****************************/
.grid_img {
  padding: 1%;
}
/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  /*margin: 1% 0 1% 1.6%;*/
  margin: 0 auto;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_3_of_3 { width: 100%; }
.span_2_of_3 { width: 66.13%; }
.span_1_of_3 { width: 30%; }

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


/**************************
MODAL WINDOW 
***************************/

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 3% auto;
  padding: 0;
  width: 85%;
  max-width: 800px;
  object-fit: contain;
}

/* The Close Button */
.close {
  color: #ccc;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}


.active {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/***************************
PAGE: ABOUT
****************************/

.profile-photo {
  clear: both;
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}


/***************************
COLORS
****************************/

/* Site Body */
body {
  background-color: #fff;
  color: #2D2D2A;
}

/* torq header*/
header {
  background: #2ad0b8;
  border-color: #2D2D2A;
  padding: 0;
  margin: 0;
}

/* nav background on mobile */
nav {
  background: #2D2D2A;
}

/* logo text */
h1, h2 {
  color: #2D2D2A;
}

/* links */
a {
  color: #2ad0b8;
}

/* nav link */
nav a, nav a:visited {
  color: #EFF1ED;  
}

/* selected nav link */
nav a.selected, nav a:hover{
  color: #2ad0b8;
}
